<body>
	<h1 class="select">Seleziona l'operazione che vuoi effettuare</h1>
	<div >
	<div class="insertDiv">
		<img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/add-user.png"
			class="imgSuperUser" > <a href = "/#/insertCustomer"
			class="customerLink">Inserisci nuovo
			customer </a>
	</div>
	<div class="insertDiv">
		<img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/user.png"
			class="imgSuperUser"> <a href = "/#/readCustomer"
			class="customerLink">Visualizza i
			customers</a>
	</div>
	<div class="insertDiv">
		<img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/edit-user.png"
			class="imgSuperUser"> <a href ="/#/updateCustomer"
			class="customerLink">Modifica un
			customer</a>
	</div>
	<div class="insertDiv">
		<img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/delete-user.png"
			class="imgSuperUser"> <a href = "/#/deleteCustomer"
			class="customerLink">Elimina un
			customer</a> 
	</div> 
</div>
</body>