<body>
	<h1 class="select">Seleziona l'operazione che vuoi effettuare</h1>
		<div class="menuDiv">
			<img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/delete-user.png "class="imgSuperUser"> 
			<a href="/#/gestioneCustomer" class="customerLink">
			Gestione Customer 
			</a><br>
		</div>
		<div class="menuDiv">
			<img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/delete-user.png "class="imgSuperUser"> 
			<a href="/#/gestioneInstaller" class="customerLink">
			Gestione Installer 
			</a><br>
		</div>
</body>
