h1, h4{
    text-align: center;
    padding-top: 10%;
    color: black;
    font-family: 'Open Sans', sans-serif;
}


.table td, tr {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

p{
    color: black;
}

.table th{
    width: 100px !important;
}