<body>
        <h1>Questa pagina ti permette di modificare una room</h1>
        <h2>Queste sono le room relative al floor {{floorId}}</h2>
        <table>
            <tr><th>Id: </th>
                <th>Nome: </th>
                <th>Descrizione: </th>
            </tr>
            <tr *ngFor="let room of rooms">
                <td>{{room.id}}</td>
                <td>{{room.nomeRoom}}</td>
                <td>{{room.descrizione}}</td>
            </tr>
        </table>
        <h2>Quale floor vuoi modificare?</h2>
        <form #f="ngForm">
            <select id="id" name="id" ngModel="floor.id">
                <option *ngFor="let room of rooms" [attr.value]="room.id" >{{room.id}}</option>
            </select>
            <h3>Inserire nome floor: <input type="text" name="nomeRoom" placeholder="inserire nome room" ngModel></h3>
            <h3>Inserire descrizione: <input type="text" name="descrizione" placeholder="inserire descrizione" ngModel></h3>
            <button type ="submit" (click) = "update(f)">Modifica</button><br>
        </form>
    </body>