
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" *ngFor="let header of tableHeader">{{header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let building of buildings" routerLink="/installer/buildingTree/{{building.id}}" >
        <th scope="row">{{building.id}}</th>
        <td>{{building.address}}</td>
        <td>{{building.city}}</td>
        <td>{{building.cap}}</td>
        <td>{{building.interno}}</td>
      </tr>
    </tbody>
  </table>

