<body>
  <h1 class="title">Customer Menu</h1>
  <h2 class="things">Buildings</h2>
  <div class="thingDiv">
      <table class="thingTable table" style="margin-top:1%;">
      <thead>
          <tr>
              <th>id</th>
              <th>indirizzo</th>
              <th>citta</th>
              <th>cap</th>
              <th>interno</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let building of buildings" (click) = 'toFloorMenu(building.id)'>
            <td >{{building.id}}</td>
            <td>{{building.address}}</td>
            <td>{{building.city}}</td>
            <td>{{building.cap}}</td>
            <td>{{building.interno}}</td>
        </tr>
      </tbody>
  </table>
      <div>
          <div class="insertDiv">
              <img
                  src="https://cdn4.iconfinder.com/data/icons/symbol-color-business-1/32/office_building-add-512.png"
                  class="imgThing"> <a
                  href="/#/insertBuilding" class="customerLink">Inserisci
                  building </a>
          </div>
          <div class="insertDiv">
              <img
                  src="https://image.flaticon.com/icons/png/512/1155/1155556.png"
                  class="imgThing"> <a
                  href="/#/updateBuilding" class="customerLink">Modifica
                  building </a>
          </div>
          <div class="insertDiv">
              <img
                  src="http://icons-for-free.com/free-icons/png/512/905647.png"
                  class="imgThing"> <a
                  href="/#/deleteBuilding" class="customerLink">Elimina
                  building </a>
          </div>
      </div>
  </div>
</body>