<body>
    <div class="readCustomer">
            <img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/edit-user.png"
                class="imgSuperUser">
                <h1>Modifica Installer</h1>
        </div>
        <div class="modifyCustomer">
        <h2 >Seleziona l'username del installer da modificare</h2>
          <form #f="ngForm">
            <div class="idCustomer"><h3>Username Installer:</h3>
                <div style="padding-left:2%">
                    <select name="usernameSelected" ngModel="usernameSelected">
                      <option *ngFor="let customer of installers" [attr.value]="customer.username">{{customer.username}}</option>
                </select>
                </div>
                
            </div>
            <div class="idCustomer"><h3>Cosa vuoi modificare?   </h3>&nbsp; 
                <select style="border-radius: 10%" name="selected" ngModel="selected">
                      <option value="1">Nome</option>
                      <option value="2">Cognome</option>
                      <option value="3">Email</option>
                      <option value="4">Username</option> 
                </select>
                &nbsp;&nbsp;
                <input type = "text" id = "value" name ="value" placeholder="Inserisci nuovo valore" ngModel>
            </div>
            <button class="modifyButton" style="border-radius: 10%" type = "submit" (click)="update(f)"> Modifica</button>
        </form>
        </div>
    </body>