<body>
	<div class="select insertCustomer">
            <img
                src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/add-user.png"
                class="imgSuperUser">
            <h1 >Inserisci il tuo Customer</h1>
        </div>
    <div class="login-form">
            <form class="userForm" #f="ngForm">
            <table class="insertTable">
                <tr>
                    <td><h2>Nome:</h2></td>
                    <td><input type="text" class="form-control" id="nome"
                        name="nome" placeholder="Inserisci Nome" ngModel></td>
                </tr>
                <tr>
                    <td><h2>Cognome:</h2></td>
                    <td><input type="text" class="form-control" id="cognome" name="cognome"
                        placeholder="Inserisci Cognome" ngModel></td>
                </tr>
                <tr>
                    <td><h2>Email:</h2></td>
                    <td><input type="text" class="form-control" id="email" name="email"
                        placeholder="Inserisci Email" ngModel></td>
                </tr>
                <tr>
                    <td><h2>Username:</h2></td>
                    <td><input type="text" class="form-control" id="username" name="username"
                        placeholder="Username" ngModel></td>
                </tr>
                <tr>
                    <td><h2>Password:</h2></td>
                    <td><input type="password" class="form-control" id="password" name="password"
                        placeholder="Inserisci Password" ngModel></td>
                </tr>
            </table>
            <button class="registerButton" type="submit" (click)="register(f)">Register</button>
    
        </form>
        
</div>
    </body>
    