<body>
	<h1 class="select">Seleziona l'operazione che vuoi effettuare</h1>
		<div class="menuDiv">
			<a href="/#/gestioneManufacturer" class="customerLink">
			Gestione Produttori 
			</a><br>
		</div>
		<div class="menuDiv">
			<a href="/#/gestioneListino" class="customerLink">
			Gestione Listini 
			</a><br>
		</div>
		<div class="menuDiv">
				<a href="/#/itemtype" class="customerLink">
			Gestione ItemType 
			</a><br>
		</div>
		<div class="menuDiv">
            <a routerLink="/installer/buildings" class="customerLink" >Visualizza building</a>
		</div>
		<div class="menuDiv">
			<!-- solo per la visualizzazione è temporaneamente impostato il building con id 1-->
				<a routerLink="/selectManufacturer/1" class="customerLink" >Scegli produttore</a>
			</div>
</body>